.aboutPage {
    margin-top: 5%;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#aboutimg {
    width: 10%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 2px purple;
    margin-top: 10%;
}

#kashee {
    color: black;
    margin-top: 1%;
    font-size: 18px;
    font-family: 'Merienda', cursive;
}

#abouth1 {
    color: purple;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
}

#aboutT {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Quantico', sans-serif;
}

#aboutB1 {
    box-shadow: 1px 1px 2px rgb(4, 188, 194);
}

@media all and (max-width: 800px) {
    .aboutPage {
        margin-top: 15%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 15%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
    }
}

@media all and (max-width: 590px) {
    .aboutPage {
        margin-top: 15%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 19%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
    }
}

@media all and (max-width: 400px) {
    .aboutPage {
        margin-top: 20%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 28%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
    #aboutB2 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
}

@media all and (max-width: 450px) {
    .aboutPage {
        margin-top: 10%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 28%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
    #aboutB2 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
}